
.content{
  max-height: 60vh;
  margin: 10px;
  padding: 20px;
  flex:1;
  overflow: scroll;
  position: relative;
}
.filters{
  display:grid;
  gap:1em;
}
.content::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.content::-webkit-scrollbar-thumb {
  background: #3d3f86;
  border-radius: 4px;
}

.scrollAndButton{
    display: flex;  
    gap: 10px;  
    align-items: flex-start;
}
.scroll {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    max-height: 100%; 
}
.buttonWrapper{
  position: sticky;
  align-self: flex-end;
  margin:10px;
  width: auto; 
  bottom:0;
}

